<div class="page-container" style="overflow-x: hidden;">
  <div class="row" style="padding-left:5%; padding-right:5%;">
    <img src={{image}} width="100%">
    <div class="col-md-12" style="margin-top:5%">
        {{description}}
    </div>
    {{#if link}}
      <div class="col-md-12 center" style="margin-top:5%">
        <a href={{link}}>
          <button type="button" class="btn btn-success" style="margin-left:-5%">Demo</button>
        </a>
      </div>
    {{/if}}
  </div>
</div>