@import "bootstrap";

body {
  padding-top: 20px;
}

.credit {
  margin-top: 10px;
  text-align: center;
}

.emoji {
  margin-bottom: -0.7em;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.heart-color {
  color: red;
}

.center {
  text-align: center;
  color: white;
  a {
    color: white;
  }
}

.portfolio-border {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.top-image-margin {
  margin-top: 5%;
}

.portfolio-top-margin {
  margin-top: 2%;
}

/* Sticky footer styles
     -------------------------------------------------- */

   html,
   body {
     height: 100%;
     /* The html and body elements cannot have any padding or margin. */
   }

   /* Wrapper for page content to push down footer */
   #wrap {
     min-height: 100%;
     height: auto !important;
     height: 100%;
     /* Negative indent footer by it's height */
     margin: 0 auto -60px;
   }

   /* Set the fixed height of the footer here */
   #push,
   #footer {
     height: 60px;
    //  border-radius: 10px;
   }
   #footer {
     background-color: #f5f5f5;
   }

   /* Lastly, apply responsive CSS fixes as necessary */
   @media (max-width: 767px) {
     #footer {
       margin-left: -20px;
       margin-right: -20px;
       padding-left: 20px;
       padding-right: 20px;
     }
   }

 .page-container {
  overflow-y:auto;
  position: relative;
  width: 100%;
  height: 500px;
  min-height: auto;
  background-color: #337ab7;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
 }

 .about-container {
   margin-top: 10%;
   line-height: 200%;
 }

header {
 position: relative;
 width: 100%;
 height: 500px;
 min-height: auto;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 background-position: center;
 background-image: url('talk.jpg');
 text-align: center;
 color: white;
}
header .header-content {
 position: relative;
 text-align: center;
 padding: 100px 15px 100px;
 width: 100%;
}
header .header-content .header-content-inner h1 {
 font-weight: 700;
 text-transform: uppercase;
 margin-top: 0;
 margin-bottom: 0;
 font-size: 30px;
}
header .header-content .header-content-inner hr {
 margin: 30px auto;
}
header .header-content .header-content-inner p {
 font-weight: 300;
 color: rgba(255, 255, 255, 0.7);
 font-size: 16px;
 margin-bottom: 50px;
}
@media (max-width: 768px) {
  header .header-content .header-content-inner {
    margin-top: 55px;
  }
}
@media (min-width: 768px) {
 header {
   min-height: 100%;
 }
 header .header-content {
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   padding: 0 50px;
 }
 header .header-content .header-content-inner {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
 }
 header .header-content .header-content-inner h1 {
   font-size: 50px;
 }
 header .header-content .header-content-inner p {
   font-size: 18px;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
 }
}
