<div class="page-container">
  <div class="row" style="padding-left:5%; padding-right:5%;">
    <img src="assets/burrito.png" width="100%">
    <div class="col-md-12" style="margin-top:5%">
        Burrito Finder is an app built while at Turing. It is built with Rails, the Yelp
        API, jQuery and MapBox.
    </div>
    <div class="col-md-12 center" style="margin-top:5%">
      <a href="https://burritofinder.herokuapp.com">
        <button type="button" class="btn btn-success" style="margin-left:-5%">Demo</button>
      </a>
    </div>
  </div>
</div>