<div class="page-container">
  <div class="row" style="padding-left:5%; padding-right:5%;">
    <img src="assets/marionettetodo.png" width="100%">
    <div class="col-md-12" style="margin-top:5%">
        Marionette TodoList is an simple todolist app. It was built with Backbone/Marionette
        and uses Materialize CSS for styling.
    </div>
    <div class="col-md-12 center" style="margin-top:5%">
      <a href="https://thawing-hollows-5297.herokuapp.com/">
        <button type="button" class="btn btn-success" style="margin-left:-5%">Demo</button>
      </a>
    </div>
  </div>
</div>