<div class="page-container">
  <div class="row" style="padding-left:5%; padding-right:5%;">
    <img src="assets/personal.png" width="100%" >
    <div class="col-md-12" style="margin-top:5%">
        This current site, my personal website, is an on-going project. I originally
        built my website with Jekyll, which still hosts my blog, but wanted something
        that I could also use to show off some of my skills. This site, www.tomleskin.com,
        is built with Ember.js 2.6 and Bootstrap. It uses a couple Ember addons such as 
        Liquid Fire for transition animations and font awesome. It's hosted on Heroku.
    </div>
  </div>
</div>