<div id="footer">
  <div class="container">
    <p class="muted credit">
      Built with {{emoji-icon 'blue_heart'}} and {{#link-to 'embersite'}}<a href="">Ember.js</a>{{/link-to}} in St. Petersburg, FL
    </p>
  </div>
</div>

