<div id="footer">
  <div class="container">
    <p class="muted credit">
      Built with {{fa-icon "heart" size=1 class="heart-color"}} and {{#link-to 'embersite'}}<a href="">Ember.js</a>{{/link-to}} in St. Petersburg, FL
    </p>
  </div>
</div>
