<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tom Leskin</h1>
            <h3>Software Developer</h3>
            <br>
            <a href="mailto:tleskin@gmail.com?subject=Let's chat!" class="btn btn-primary btn-xl">Let's chat!</a>
        </div>
    </div>
</header>